.headcolor{

    background-color:#1F2937
}

.head {
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    padding-top: 20px;
}



.hero {
font-weight: bolder;
color:#F9FAF8;
font-size: 48px;
margin-bottom: 0;

}
.herotext{
margin-top: 0;
align-self: flex-end;
color: #E5E7EB;

}

.img {
    padding: 0;
    height: 290px;
    margin-left: 40px;
    margin-bottom: 150px;


}

.heroplustext{

    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;


}

.notwithimg {
margin-top: 0;
    margin-right: auto;
}
.head1 {
margin-right: auto;
font-size: 24px;
color: #F9FAF8;
font-weight: bold;

}

.button {
    color: white;
    border-radius: 20px;
    height: 45px;
    width: 100px;
    background-color: #2883F6;
    border:0px;
}

.button:hover{
    background-color: #1F2937;
}

.fourboxbgcolor {

    background-color:white;
    margin-top: 0px;


}

.head2 {
    padding-left: 50px;
    font-size: 18px;
    color: #E5E7EB;
}
.title2 {

    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 60px;
}

.empimg {
    background-color: aquamarine;
    height: 210px;
    width: 210px;
    border-radius: 20px;
    color: #1F2937;


}
.fourbox {

    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-evenly;
    padding-bottom: 120px;
}

.text {

width: 210px;
display:flex;
justify-content: center;


}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #E5E7EB;
}


.reviewtext{

    font-size: 36px;
    font-style:italic;
    color:#1F2937;

}

.reviewcredit{
    font-size: 25px;
    font-weight: bold;
    color:#1F2937;
    align-self: flex-end;
    padding-right: 50px;

}

.actionfull{

    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #2883F6;
    border-radius: 20px;
    padding: 50px;
    margin-top: 150px;
    margin-bottom: 150px;

}

.button1 {
    
    height: 45px;
    width: 100px;
    border: 3px solid white;
    background-color: #2883F6;
    margin-left: auto;
    border-radius: 25px;


}

.actiontext1 {

    font-weight: bold;

}

.button1:hover {

    background-color: white;
}

.footer{
    color: #F9FAF8;
    display: flex;
    padding: 30px;
    background-color:#1F2937;
    justify-content: center;

}
